@import "tailwindcss";

@theme {
  --color-bg-light: #f8fafc;
  --color-bg-dark: #0f172a;
  --color-card-light: #ffffff;
  --color-card-dark: #1e293b;
  --color-text-light: #0f172a;
  --color-text-dark: #f8fafc;
  --color-primary: #22c55e;
  --color-primary-focus: #16a34a;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

html.dark body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}